<?xml version="1.0"?>
<robot name="wamv">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/blazar/PX4-Autopilot/Tools/simulation/gz/models/wamv/meshes/WAM-V-Base.dae"/>
      </geometry>
    </visual>

    <visual name="left_engine">
      <origin xyz="-2.373776 1.027135 0.318237" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/blazar/PX4-Autopilot/Tools/simulation/gz/models/wamv/meshes/engine.dae"/>
      </geometry>
    </visual>

    <visual name="right_engine">
      <origin xyz="-2.373776 -1.027135 0.318237" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/blazar/PX4-Autopilot/Tools/simulation/gz/models/wamv/meshes/engine.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
